 .request{
   background-color:gainsboro;
 }

 .image{
  border-radius: 3em;
  width: 100%;
 
 }

 .imageanddata{
  background-color: lightcyan;
 }

 .verificationservices{
    background-color:snow;
 }

 